.c-hero {
	position: relative;
	padding-top: 47.22222%; // Aspect ratio for 1440x680 images.

	&__img,
	&__title,
	&__body,
	&__caption {
		position: absolute;

		@media print {
			position: static;
		}
	}

	&__img {
		top: 0;
		left: 0;
		width: 100%;

		@media print {
			display: none;
		}
	}

	&__body {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: $color-hero;
		text-shadow: 2px 2px 2px $color-hero-shadow;
		z-index: 2;
	}

	&__title {
		color: inherit;
	}

	@include mq($from: portable) {

		&__title,
		&__caption {
			margin-bottom: 0;
		}

		&__title {
			bottom: 4 * $inuit-global-spacing-unit;
		}

		&__caption {
			bottom: $inuit-global-spacing-unit;
		}
	}

	@include mq($until: portable) {
		&__title {
			bottom: 0;

			@include inuit-font-size($inuit-font-size-h3);
		}

		&__caption {
			display: none;
		}
	}
}
