.c-caption {
	font-style: italic;

	&--secondary {
		color: $color-caption-secondary;
		font-size: .77778rem;
	}

	&--left,
	&--right {
		max-width: 300px;
	}

	&--left {
		float: left;
		text-align: left;
	}

	&--right {
		float: right;
		text-align: right;
	}
}
