$zoom-icon-size: 44px;

.c-zoom {
	display: block;
	position: relative;

	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: $zoom-icon-size;
		height: $zoom-icon-size;
		background: $color-zoom-background url('../images/icon-magnifier.svg') 50% 50% no-repeat;
		content: '';
	}
}
