.c-nav-primary {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	list-style: none;

	&__link {
		text-decoration: none;
	}

	&__sub-nav {
		margin: 0;
		list-style: none;
	}

	@include mq($until: portable) {
		&__item {
			border-top: 1px solid $color-nav-secondary-divider;
		}

		&__link {
			display: block;
			padding-top: $inuit-global-spacing-unit-small;
			padding-bottom: $inuit-global-spacing-unit-small;
			text-transform: uppercase;

			&--with-sub-nav {
				display: none;
			}
		}
	}

	@include mq($from: portable) {
		&__item {
			display: inline-block;
			position: relative;
			margin: $inuit-global-spacing-unit-small;
		}

		&__link {

			&--active {
				position: relative;
				color: $color-nav-primary-active;

				&::after {
					display: block;
					position: absolute;
					width: 20px;
					height: 4px;
					background-color: currentColor;
					content: '';
				}
			}
		}

		&__sub-nav {
			position: absolute;
			left: -999em;
			padding-right: $inuit-global-spacing-unit-small;
			padding-left: $inuit-global-spacing-unit-small;
			background-color: $color-nav-primary-subnav-bg;
			white-space: nowrap;
			box-shadow: 0 0 6px $color-nav-primary-subnav-shadow;
			z-index: 5;
		}

		&__item:hover &__sub-nav {
			left: 0;
		}
	}
}
