.c-logos {

	margin: 0;
	list-style: none;
	text-align: center;

	&__item {
		display: inline-block;
		margin-right: $inuit-global-spacing-unit;
		margin-left: $inuit-global-spacing-unit;

		@include mq($until: portable) {
			margin-bottom: $inuit-global-spacing-unit;
		}
	}
}
