.c-tabs {

	&__tab-list {
		margin: 0 0 $inuit-global-spacing-unit;
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 6px;
		list-style: none;
		text-transform: uppercase;
	}

	&__tab {
		display: inline-block;
		margin-right: $inuit-global-spacing-unit;
		color: $color-tab-inactive;
		text-decoration: underline;
		cursor: pointer;

		&.is-active {
			color: $color-tab-active;
			text-decoration: none;
		}
	}

	&__panel {
		&.is-hidden {
			display: none;
		}
	}
}
