.c-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	font-size: 0;
	vertical-align: middle;

	&--large {
		width: 30px;
		height: 30px;
	}

	&--twitter { background-image: url('../images/icon-twitter.svg'); }
	&--facebook { background-image: url('../images/icon-facebook.svg'); }
	&--instagram { background-image: url('../images/icon-instagram.svg'); }

	&--location { background-image: url('../images/icon-location.svg'); }
	&--phone { background-image: url('../images/icon-phone.svg'); }
	&--email { background-image: url('../images/icon-email.svg'); }

	&--arrow-previous { background-image: url('../images/icon-arrow-previous.svg'); }
	&--arrow-next { background-image: url('../images/icon-arrow-next.svg'); }

	&--arrow-previous-disabled { background-image: url('../images/icon-arrow-previous-disabled.svg'); }
	&--arrow-next-disabled { background-image: url('../images/icon-arrow-next-disabled.svg'); }
	
}
