$magnify-size: 12 * $inuit-global-spacing-unit;

.c-magnifier {
	position: relative;

	&__large {
		display: none;
		position: absolute;
		width: $magnify-size;
		height: $magnify-size;
		border-radius: 100%;
		background-repeat: no-repeat;
		box-shadow: 0 0 0 $inuit-global-spacing-unit-small rgba(245, 245, 245, .95),
					0 0 $inuit-global-spacing-unit-small $inuit-global-spacing-unit-small rgba(0, 0, 0, .55),
					inset 0 0 $inuit-global-spacing-unit-large $inuit-global-spacing-unit-tiny rgba(0, 0, 0, .75);
	}

	&__img {
		display: block;
	}
}
