$btn-ghost-border-width: 2px;
$btn-animation-duration: .5s;

.c-btn {
	display: inline-block;
	margin: 0;
	padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
	border: 0;
	border-radius: 6px;
	background-color: $color-buttons;
	color: $color-white;
	font: inherit;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color $btn-animation-duration;
	vertical-align: middle;

	&:hover {
		background-color: darken($color-buttons, 8%);
	}

	&--full {
		width: 100%;
	}

	&--small {
		padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
	}

	&--ghost {
		padding: ($inuit-global-spacing-unit-small - $btn-ghost-border-width) ($inuit-global-spacing-unit - $btn-ghost-border-width);
		border: $btn-ghost-border-width solid $color-buttons;
		background-color: transparent;
		color: $color-buttons;
		transition: border-color $btn-animation-duration, color $btn-animation-duration;

		&:hover {
			border-color: darken($color-buttons, 8%);
			background-color: transparent;
			color: darken($color-buttons, 8%);
		}
	}
}
