.c-promo {
	background-color: $color-promo-background;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	color: $color-promo;
	text-align: center;

	&__body {
		background-color: $color-promo-overlay;
	}

	// 1. Headings have an explicit colour. Override so they match the promo
	//    foreground colour.
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: inherit; // [1]
	}

	// Paragraphs have their own text-align that needs overriding.
	p {
		text-align: inherit;
	}
}
