.c-page-head {
	@include inuit-clearfix;

	@include mq($until: portable) {
		padding: $inuit-global-spacing-unit-small;

		&__logo {
			margin-bottom: $inuit-global-spacing-unit-small;
		}

		&__nav {
			.js & {
				display: none;

				&.is-expanded {
					display: block;
				}
			}
		}
	}

	@include mq($from: portable) {
		padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;

		&__logo {
			float: left;
		}

		&__nav {
			padding-top: 1.5 * $inuit-global-spacing-unit;
			float: right;
		}

		&__nav-trigger {
			display: none;
		}
	}
}
