.c-nav-secondary {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	list-style: none;
	text-transform: uppercase;

	&__item {
		border-top: 1px solid $color-nav-secondary-divider;

		&:first-child {
			border-top: 0;
		}
	}

	&__link {
		display: block;
		padding-top: $inuit-global-spacing-unit-small;
		padding-bottom: $inuit-global-spacing-unit-small;
		text-decoration: none;

		&--active {
			color: $color-nav-primary-active;

			&::after {
				display: block;
				width: 20px;
				height: 4px;
				background-color: currentColor;
				content: '';
			}
		}
	}
}
