.c-pagination {
	display: inline-block;
	font-size: 24px;

	&__pages {
		margin: 0;
		list-style: none;
	}

	&__pages,
	&__page {
		display: inline-block;
		vertical-align: bottom;
	}

	&__page &__link {
		// Push numbers down to adjust for baseline.
		padding-top: 2px;
	}

	&__link {
		display: inline-block;
		width: 44px;
		height: 44px;
		margin-right: -1px;
		border: 1px solid $color-pagination-border;
		line-height: 40px;
		text-align: center;
		text-decoration: none;

		&--disabled {
			border-color: $color-pagination-disabled;
			color: $color-pagination-disabled;
		}

		&--active {
			background: $color-pagination-active-bg;
			color: $color-pagination-active;
		}
	}
}
