.o-band {
	padding-top: $inuit-global-spacing-unit;
	padding-bottom: $inuit-global-spacing-unit;

    &--large {
        padding-top: $inuit-global-spacing-unit-large;
        padding-bottom: $inuit-global-spacing-unit-large;
    }

	&--huge {
		padding-top: $inuit-global-spacing-unit-huge;
		padding-bottom: $inuit-global-spacing-unit-huge;
	}

	@include mq($from: desk) {
		&--large\@desk {
			padding-top: $inuit-global-spacing-unit-large;
	        padding-bottom: $inuit-global-spacing-unit-large;
		}

		&--huge\@desk {
			padding-top: $inuit-global-spacing-unit-huge;
			padding-bottom: $inuit-global-spacing-unit-huge;
		}
	}
}
