///*------------------------------------*\
//   #COLORS
//\*------------------------------------*/

//
//    Define our colour variables here. Start with literal names,
//    such as "$color-red". We can then expand in to our components
//    by defining meaningful variables, e.g.
//
//    $color-page-background: $color-red;
//
//    Then, in our declaration block, we can apply where necessary:
//
//    body {
//	      background-color: $color-page-background;
//    }
//
//    This allows consistency throughout a project, allowing us to
//    update many colours simultaneously without having to trace
//    every colour declaration.
//

//    Literal colour names

$color-white:      #fff;
$color-black:      #000;
$color-dark-gray:  #242021;
$color-mid-gray:   #666;
$color-gray:       #e6e6e6;
$color-light-gray: #f7f7f7;
$color-yellow:     #d9b733;





//    Meaningful colour names

$color-page:                  $color-mid-gray;

$color-hero-shadow:           rgba($color-black, .4);
$color-hero:                  $color-white;

$color-headings:              $color-dark-gray;
$color-links:                 $color-yellow;
$color-buttons:               $color-yellow;

$color-promo-background:      $color-dark-gray;
$color-promo:                 $color-white;
$color-promo-overlay:         rgba($color-black, .8);

$color-tab-inactive:          $color-yellow;
$color-tab-active:            $color-dark-gray;

$color-nav-primary-active:        $color-dark-gray;
$color-nav-primary-subnav-bg:     $color-white;
$color-nav-primary-subnav-shadow: rgba($color-dark-gray, .2);

$color-nav-secondary-divider: $color-gray;

$color-caption-secondary: $color-dark-gray;

$color-pagination-border:    $color-yellow;
$color-pagination-active:    $color-white;
$color-pagination-active-bg: $color-yellow;
$color-pagination-disabled:  $color-gray;

$color-hr: $color-gray;

$color-bold: $color-dark-gray;

$color-label: $color-dark-gray;

$color-lede:                  $color-dark-gray;

$color-tint:                  $color-light-gray;
$color-highlight:             $color-white;

$color-zoom-background:       $color-white;
