@media print {

    *,
    *::before,
    *::after {
        background: transparent !important;
        color: $color-black !important; // Black prints faster
        text-shadow: none !important;
        box-shadow: none !important;
    }

    // Links

    a,
    a:visited {
        text-decoration: underline;
    }

    .no-print {
        display: none;
    }

}
