///*------------------------------------*\
//		 #EDITOR STYLES
//\*------------------------------------*/

// This stylesheet will be used by SilverStripe within the WYSIWYG editor in the CMS.

@import 'settings.colors';

body {
	font-size: 16px;
	line-height: 1.4;
}

.c-lede {
	color: $color-lede;
	font-size: 18px;
}
