/*!*
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */





// SETTINGS
@import '../../bower_components/inuitcss/settings/settings.core';
@import 'settings.colors';

$inuit-global-font-size: 18px;
$inuit-global-line-height: 26px;
$inuit-global-spacing-unit: 26px;

$inuit-font-size-h1: 48px;
$inuit-font-size-h2: 36px;
$inuit-font-size-h3: 24px;
$inuit-font-size-h4: 21px;
$inuit-font-size-h5: 18px;

$mq-responsive: true;
$mq-breakpoints: (
    palm:  480px,
    portable:  768px,
    desk: 1024px
);





// TOOLS
// @import '../../bower_components/inuitcss/tools/tools.rem';
@import '../../bower_components/inuitcss/tools/tools.font-size';
@import '../../bower_components/inuitcss/tools/tools.clearfix';
@import '../../bower_components/inuitcss/tools/tools.hidden';
@import '../../bower_components/sass-mq/mq';





// GENERIC
@import '../../bower_components/inuitcss/generic/generic.box-sizing';
@import '../../bower_components/inuitcss/generic/generic.normalize';
@import '../../bower_components/inuitcss/generic/generic.reset';
@import '../../bower_components/inuitcss/generic/generic.shared';





// ELEMENTS
@import '../../bower_components/inuitcss/elements/elements.page';
@import '../../bower_components/inuitcss/elements/elements.headings';
@import '../../bower_components/inuitcss/elements/elements.images';
@import 'elements.forms';

body {
	// background-color: $color-page-bg;
	color: $color-page;
	font-family: 'mrs-eaves-xl-serif', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-headings;
	font-weight: 400;
	letter-spacing: 8px;
	line-height: 1.3;
	text-transform: uppercase;
}

p {
    text-align: justify;
}

a {
	color: $color-links;
}

hr {
    border-width: 1px 0 0;
    border-style: solid;
    border-color: $color-hr;
}

strong {
	color: $color-bold;
}





// OBJECTS
$inuit-wrapper-width: 1220px;
@import '../../bower_components/inuitcss/objects/objects.wrapper';

.o-wrapper--wide {
	max-width: 1440px;
}

.o-wrapper--narrow {
	max-width: 800px;
}

.o-wrapper--flush {
	padding-right: 0;
	padding-left: 0;
}

@import '../../bower_components/inuitcss/objects/objects.layout';
@import '../../bower_components/inuitcss/objects/objects.box';
@import '../../bower_components/inuitcss/objects/objects.list-bare';
@import '../../bower_components/inuitcss/objects/objects.list-inline';
@import '../../bower_components/inuitcss/objects/objects.ratio';

@import 'objects.band';





// COMPONENTS

@import 'components.buttons';
@import 'components.page-head';
@import 'components.nav-primary';
@import 'components.nav-secondary';
@import 'components.hero';
@import 'components.promo';
@import 'components.magnifier';
@import 'components.tabs';
@import 'components.icons';
@import 'components.lede';
@import 'components.caption';
@import 'components.zoom';
@import 'components.logos';
@import 'components.pagination';





// UTILITIES
@import '../../bower_components/inuitcss/utilities/utilities.clearfix';
@import '../../bower_components/inuitcss/utilities/utilities.widths';
@import '../../bower_components/inuitcss/utilities/utilities.spacings';
@import '../../bower_components/inuitcss/utilities/utilities.headings';

@import 'utilities.print';

.u-tac {
    text-align: center !important;
}

.u-tar {
    text-align: right !important;
}

.u-uppercase {
	text-transform: uppercase !important;
}

.u-text-small {
	font-size: .8rem;
}

.u-italic {
    font-style: italic !important;
}



// THEME

.u-background-tint {
	background-color: $color-tint;
}

.u-background-highlight {
	background-color: $color-highlight;
}

@import '../../bower_components/featherlight/release/featherlight.min';
